html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.page {
	min-height: 100%;
	font: var(--font-size) var(--font-family);
	background-color: var(--color-white);
	color: var(--color-text);

	@media (min-width: 500px) {
		font-size: var(--font-size-md);
	}

	&__wrap {
		min-width: 320px;
		min-height: 100%;

		@media (--tablet-width) {
			max-width: 1180px;
			height: 100%;
			margin: auto;
		}
	}
}