.timetable {

	&__item {
		width: 100%;
		margin-bottom: 15px;
		border-radius: 7px;
		box-shadow: 0 6px 12px -5px #777777;

		&:last-child {
			margin-bottom: 0;
		}

		@media (--tablet-width) {
			margin-bottom: 30px;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		background: linear-gradient(to right, #191819, #282828, #191819);
		border-radius: 7px 7px 0 0;
		color: var(--color-white);

		@media (--tablet-width) {
			justify-content: flex-start;
		}
	}

	&__day {
		margin: 0;

		@media (--tablet-width) {
			margin-right: 20px;
		}
	}

	&__date {
		margin: 0;
	}

	&__body {

	}

	&__inner {
		position: relative;
		padding: 15px;
		padding-left: 20px;

		&::before {
			content: "";
			position: absolute;
			top: 13px;
			left: 0;
			width: 6px;
			height: calc(100% - 26px);
			border-radius: 2px;
		}

		@media (--tablet-width) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&--frontend::before {
			background-color: #191819;
		}

		&--design::before {
			background-color: #72d6bc;
		}

		&--mobdev::before {
			background-color: #d43437;
		}

		&--mobdev-frontend::before {
			background: linear-gradient(to bottom, #d43437 50%, #191819 50%);
		}

		&--design-frontend::before {
			background: linear-gradient(to bottom, #72d6bc 50%, #191819 50%);
		}

		&--design-mobdev::before {
			background: linear-gradient(to bottom, #72d6bc 50%, #d43437 50%);
		}

		&--design-mobdev-frontend::before {
			background: linear-gradient(to bottom, #72d6bc 33%, #d43437 33%, #d43437 66%, #191819 66%, #191819);

		}
	}

	&__column {
		display: flex;
		flex-direction: column;

		@media (--tablet-width) {
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			text-align: center;
		}
	}

	&__school {
		margin: 0;
		margin-bottom: 10px;
		font-weight: bold;
		line-height: 1em;

		@media (--tablet-width) {
			margin-right: 20px;
			margin-bottom: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__subject {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		align-items: center;

		@media (--tablet-width) {
			width: 50%;
		}
	}

	&__subject-theme {
		margin: 0;

		&--break {
			display: block;
		}
	}

	&__subject-tutor {
		max-width: 65px;
		margin-left: 10px;
		text-decoration: none;
		text-align: right;
		color: var(--color-text);

		@media (min-width: 500px) {
			max-width: 80px;
			text-align: center;
		}

		& img {
			display: block;
			margin-left: auto;
			border-radius: 50%;

			@media (--tablet-width) {
				width: 80px;
				height: 80px;
			}
		}

			&--sm {
			display: inline-block;
			margin-left: 0;
			margin-top: 5px;
			font-size: 11px;
			line-height: 1.15em;
		}
	}

	&__place {
		margin: 0;
		margin-bottom: 10px;

		@media (--tablet-width) {
			width: 25%;
			text-align: center;
		}
	}

	&__status {
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: 5px 10px;
		border-radius: 3px;
		background-color: #f3f3f3;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		color: rgba(0, 0, 0, .7);

		@media (--tablet-width) {
			align-self: center;
			width: 20%;
		}

		&--complete {
			background-color: #d3edf6;
		}
	}

}